.sun {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #f3a966, yellow);
  border-radius: 100%;
  transform: rotate(0deg);
  animation: rays 12s infinite linear;
}

.rays {
  width: 8px;
  height: 15px;
  background: yellow;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -25px;
  box-shadow: 0 135px yellow;
  border-radius: 4px;
  transform-origin: 0px 75px;
}

.rays:nth-child(2) {
  transform: rotate(45deg);
}

.rays:nth-child(3) {
  transform: rotate(90deg);
}

.rays:nth-child(4) {
  transform: rotate(135deg);
}

@keyframes rays {
  100% {
    transform: rotate(360deg);
  }
}

.cloud {
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 150px;
  height: 50px;
  background: #cdedf8;
}

.cloud:nth-child(2) {
  width: 100px;
  height: 30px;
  background: #cdedf8;
  opacity: 1;
  animation: cloud 8s linear infinite;
}

.cloud::after,
.cloud::before {
  content: "";
  display: block;
  background: #cdedf8;
  border-radius: 50%;
  position: absolute;
}

.cloud:nth-child(2)::after,
.cloud:nth-child(2)::before {
  content: "";
  display: block;
  background: #cdedf8;
  border-radius: 50%;
  position: absolute;
}

.cloud::after {
  width: 80px;
  height: 80px;
  left: 45px;
  top: -45px;
}

.cloud::before {
  width: 60px;
  height: 60px;
  top: -10px;
  left: 0;
}

.cloud:nth-child(2)::after {
  width: 50px;
  height: 50px;
  left: 35px;
  top: -30px;
}

.cloud:nth-child(2)::before {
  width: 40px;
  height: 40px;
  top: -10px;
  left: 0px;
}

@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(-200%);
  }
}

.weather-cloudAndSun .cloud {
  z-index: 1;
  opacity: 0.95;
  top: 60%;
}

.weather-cloudAndSun .sun {
  z-index: 0;
}

.rain {
  width: 4px;
  height: 40px;
  background: linear-gradient(transparent, lightblue);
  position: absolute;
  right: 50px;
  top: 60%;
  border-radius: 2px;
  animation: rainning 2s infinite;
}

.rain:nth-child(2) {
  height: 20px;
  right: 80px;
}

.rain:nth-child(3) {
  height: 50px;
  right: 120px;
}

.rain:nth-child(4) {
  height: 25px;
  right: 150px;
}

@keyframes rainning {
  100% {
    top: 70%;
  }
}
