<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>{{ description }}</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-bs-dismiss="modal"
    (click)="activeModal.close(false)"
  >
    Close
  </button>
  <button
    (click)="activeModal.close(true)"
    type="submit"
    class="btn btn-danger"
    data-bs-dismiss="modal"
  >
    Delete
  </button>
</div>
