<div id="card" class="card p-4" *ngIf="station | async as weather">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-auto fw-bold fs-4">{{ weather.stationId }}</div>
      </div>
      <div class="d-flex">
        <span class="temperature">{{ weather.temperature }}</span>
        <span class="temperature-unit">{{
          getTemperatureUnit(weather.temperatureUnit)
        }}</span>
        <div class="col"></div>
        <span class="ps-5 description align-self-center">{{
          getCloudsDescription(weather.clouds)
        }}</span>
      </div>
    </div>
    <app-weather-icon
      class="col d-flex justify-content-end align-items-center pe-5"
      [weather]="weather"
    ></app-weather-icon>
  </div>
</div>
