<div>
  <div class="d-flex header p-2">
    <h3 class="ps-3">WEATHER STATIONS</h3>
    <div class="col"></div>
    <div class="col-auto">
      <button
        button
        type="button"
        class="btn btn-outline"
        (click)="onRefreshStations()"
      >
        <i class="bi-arrow-clockwise"></i>
      </button>
    </div>
    <div class="px-2">
      <button
        button
        type="button"
        class="btn btn-outline-danger"
        (click)="onDeleteAllStations()"
      >
        Delete all
      </button>
    </div>
    <div class="px-2">
      <button
        data-bs-toggle="modal"
        data-bs-target="#addStationModal"
        button
        type="button"
        class="btn btn-primary"
      >
        <i class="bi bi-plus-lg"></i>
        <span> Add Station</span>
      </button>
    </div>
  </div>
  <div class="mt-4 d-flex flex-column">
    <div
      class="align-self-center pb-4 weather-card"
      *ngFor="let station of (weatherMap | async)?.weatherStations"
    >
      <app-weather-card [station]="station"></app-weather-card>
      <div class="delete-button">
        <button
          button
          type="button"
          class="hidden-child col-auto btn btn-danger"
          (click)="onDeleteStation(station.stationName)"
        >
          <i class="bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addStationModal"
  tabindex="-1"
  aria-labelledby="addStationModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form
      class="modal-content"
      [formGroup]="weatherForm"
      (ngSubmit)="onAddStation()"
    >
      <div class="modal-header">
        <h5 class="modal-title">Add Station</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="stationFormControl" class="form-label">Station</label>
        <input
          formControlName="station"
          class="form-control"
          id="stationFormControl"
          placeholder="New York"
          required
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
